<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Ticketpark Printbox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/project.css">
</head>
<body>

<div class="container">
    <hr>
    <div class="row">
        {% block content %}
        {% endblock %}
    </div>
</div>

</body>
</html>
